Flask==3.1.0
Flask_Bcrypt==1.0.1
Flask_Executor==1.0.0
flask_limiter==3.12
Flask_Login==0.6.3
flask_mail==0.10.0
Flask_Migrate==4.1.0
flask_sqlalchemy==3.1.1
flask_user==1.0.2.2
itsdangerous==2.2.0
Pillow==11.2.1
SQLAlchemy==2.0.40
