body {
    min-height: 100vh;
    margin: 0;
}

h1 {
    margin: 0;
}

header {
    background: #ece9e970;
    padding: .5rem 1rem;
}

footer {
    min-height: 50px;
    background: #ece9e970;
    text-align: center;
}

body {
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

.container {
    display: flex;
    align-items: center;
}

#branding {
    flex: 1;
}

nav ul {
    display: flex;
}

a {
    text-decoration: none;
    color: black;
}

nav a {
    padding: .5rem;
    border-radius: 12px;
}

nav a:hover {
    background-color: rgba(183, 183, 183, 0.501);
}

.avatar {
    border-radius: 50%;
    width: 150px;
    height: 150px;
}

.landing {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: max-content;
    gap: 1.5rem;
    margin-top: 2rem;
}

.download-cv {
    background-color: rgb(6, 6, 190);
    color: white;
    border: 1px solid rgb(6, 6, 190);
    padding: 10px;
    border-radius: 12px;
    cursor: pointer;
}

.download-cv:hover {
    background-color: rgba(6, 6, 190, 0.797);
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.buttons a{
    width: auto;
}