@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

body {
    min-height: 100vh;
    margin: 0;

    font-family: poppins, sans-serif;
}

h1 {
    margin: 0;
}

header {
    /* background: #ece9e970; */
    padding: .5rem 0;

    border-bottom: 1px solid #ece9e9;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

    display: flex;
    justify-content: center;
}

main {
    display: flex;
    justify-content: center;
}

footer {
    min-height: 50px;
    background: #ffffff70;
    text-align: center;
    border-top: 1px solid #ece9e9;
}

body {
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

.nav-container-desktop {
    display: flex;
    align-items: center;
    padding: 0 16rem;

    width: 50%;
}

#branding {
    flex: 1;
}

nav ul {
    display: flex;
}

a {
    text-decoration: none;
    color: black;
}

nav a {
    padding: 1rem;
    border-radius: 12px;
}

nav a:hover {
    background-color: rgba(183, 183, 183, 0.501);
    padding: .6rem 1rem;
}

.avatar {
    border-radius: 50%;
    width: 150px;
    height: 150px;
}

.landing {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: max-content;
    gap: 1.5rem;
    margin-top: 2rem;

    width: 50%;
}

.social-button {
    max-width: 35px;
    max-height: 35px;

    background-color: rgb(255 255 255);
    border: 1px solid rgba(172, 172, 172, 0.432);
    padding: 10px;
    border-radius: 12px;
    cursor: pointer;

    display: flex;
    gap: 8px;
    justify-content: center;
    align-items: center;
}

.social-button:hover {
    background-color: rgba(189, 189, 189, 0.797);
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.nav-container-mobile{
    display: none;
    width: 100%;
}

.menu-button{
    background-color: rgb(255 255 255);
    border: 1px solid rgba(126, 126, 126, 0.39);
    padding: 10px;
    border-radius: 12px;
    cursor: pointer;
    width: 46px;
    height: 46px;
}

.menu-button img{
    width: 100%;
    height: 100%;
}

@media (pointer: coarse) or (max-width: 960px) {
    .nav-container-desktop{
        display: none;
    }
    .nav-container-mobile{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }

    header {
        justify-content: space-between;
        padding: 0.5rem 1rem;
    }
}