<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/main.css?x=32352">
    <title>Kaan Baha Sever</title>
</head>

<body>
    <header>
        <div class="container">
            <div id="branding">
                <h1>kaani</h1>
            </div>
            <nav>
                <a href="#">Home</a>
                <a href="#">About</a>
                <a href="#">Projects</a>
                <a href="#">Blog</a>
            </nav>
        </div>
    </header>

    <main>
        <div class="landing">
            <img class="avatar" src="static/profile.png" alt="kaan">
            <h1>Hello! I'am Kaan Baha Sever</h1>
            <div class="buttons">
                <a class="my-github" href="https://github.com/KaanBahaSever" target="_blank"><img src="static/github.svg"></a>
                <a class="download-cv" href="static/kaan_resume.pdf" target="_blank" >My Resume</a>
                <a><img src=""></a>
            </div>
        </div>
        </div>
    </main>

    <footer>
        <p>kaani &copy; 2025</p>
    </footer>
</body>

</html>