<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}?v={{ timestamp }}">
    <title>Kaan Baha Sever</title>
</head>

<body>
    <header>
        <div class="nav-container-desktop">
            <div id="branding">
                <h1>kaani</h1>
            </div>
            <nav>
                <a href="{{ url_for('portfolio_bp.home') }}">Home</a>
                <a href="{{ url_for('portfolio_bp.about') }}">About</a>
                <a href="{{ url_for('portfolio_bp.projects') }}">Projects</a>
                <a href="{{ url_for('portfolio_bp.blog') }}">Blog</a>
            </nav>
        </div>
        <div class="nav-container-mobile">
            <div id="branding">
                <h1>kaani</h1>
            </div>

            <button id="menu-button" class="menu-button" onclick="toggleMenu()">
                <img src="{{ url_for('static', filename='menu.png') }}" alt="Menu">
            </button>
            <!-- <nav>
                <a href="{{ url_for('portfolio_bp.home') }}">Home</a>
                <a href="{{ url_for('portfolio_bp.about') }}">About</a>
                <a href="{{ url_for('portfolio_bp.projects') }}">Projects</a>
                <a href="{{ url_for('portfolio_bp.blog') }}">Blog</a>
            </nav> -->
        </div>
    </header>

    <main>
        <div class="landing">
            <img class="avatar" src="{{ url_for('static', filename='profile.png') }}" alt="kaan">
            <h1>Hello! I am Kaan Baha Sever</h1>
            <div class="buttons">
                <a class="social-button" href="https://github.com/KaanBahaSever" target="_blank">
                    <img width="24px" src="{{ url_for('static', filename='github.svg') }}">
                    <!-- <span>My GitHub</span> -->
                </a>
                <a class="social-button" href="https://www.linkedin.com/in/kaan-baha-sever" target="_blank">
                    <img width="24px" src="{{ url_for('static', filename='linkedin.png') }}">
                    <!-- <span>My Linkedin</span> -->
                </a>
                <a class="social-button" href="https://medium.com/@KaanBahaSever" target="_blank">
                    <img width="24px" src="{{ url_for('static', filename='medium.png') }}">
                    <!-- <span>My Linkedin</span> -->
                </a>
                <a class="social-button" style="max-width: unset;" href="{{ url_for('static', filename='kaan_resume.pdf') }}" target="_blank">
                    <img style="width: 1.5rem;" src="{{ url_for('static', filename='resume-icon.png') }}">
                    <span>My Resume</span>
                </a>
            </div>
        </div>
        </div>
    </main>

    <footer>
        <p>kaani &copy; 2025</p>
    </footer>
</body>

</html>